* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

#main.col-12 a:hover{
  background-color: yellow;
}

[class*="col-"]{
  float: left;
  padding: 15px;
}

/*Column Width's for Grid*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*Nav Bar Header (name) Styling*/
#title{
  color: white;
  padding: 4% 6%;
  padding-top: 40px;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  text-align: center;
}

/*Main Container of Work*/
#main {
  height: 1000px;
  background-color: #333;
}

/* Header/logo Title */
.header {
  background-color: #333;
  margin-bottom: none;
}


/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
  width: 100%;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 4% 6%;
  padding-top: 60px;
  margin: auto;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover*/
.navbar a:hover {
  text-decoration: none;
}

/*Adds a line under the link - still buggy*/
.line{
  display: block;
}

.line a:hover{
  display: block;
}

/*Heading #2 Styling - figure out if necessary*/
h2 a{
	color: black;
	text-decoration: none;
  letter-spacing: 1px;
}

h2 a:hover{
	color: #abbad3;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/*Infographic Box Preview Styling*/
#infographic{
  background-color: #455166;
  height:45%;
  margin: none;
}

#infographic:hover{
  background-color: #5a6a84;
}

/*Same Box but used for Headshot on About Page*/
#headshot{
  background-color: #455166;
  height:25%;
  margin: none;
}

#resume{
  height: 25%;
  background-color: #566884;
}

#skills{
  height: 60%;
  background-color: #465a7a;
  padding: 4%;
  padding-top: 1%;
}

/*Box #2 (Goelocation App) Styling*/
#two{
  height: 25%;
  background-color: #566884;
}

#two:hover {
  background-color: #687da0;
}

/*Box #2 (Goelocation App) Styling*/
#aboutme{
  height: 25%;
  background-color: #566884;
}

/*Box #3 (Symbol Translations) Styling*/
#three{
  height: 20%;
  background-color: #5f8baf;
}

#three:hover{
  background-color: #6a9bc4;
}

/*Box #4 (Color Theory Game) Styling*/
#four{
  height: 20%;
  background-color: #324563;
}

#four:hover {
  background-color: #3b5377;
}

/*Box #5 (Streetcar Poster) Styling*/
#five{
  height: 30%;
  background-color: #465a7a;
}

#five:hover{
  background-color: #526a91;
}

/*Box #5 (Streetcar Poster) Styling*/
#five_about{
  height: 25%;
  background-color: #465a7a;
}

#five_about:hover{
  background-color: #526a91;
}

/*Box #6 (Jaws Script) Styling*/
#six{
  height: 30%;
  background-color: #6e7a8c;
}

#six:hover{
  background-color: #758499;
}

/*Box #6 (Jaws Script) Styling*/
#six_about{
  height: 25%;
  background-color: #6e7a8c;
}

#six_about:hover{
  background-color: #758499;
}

/*Box #7 (Design with Type Book) Styling*/
#seven{
  height: 15%;
  background-color: #566884;
}

#seven:hover{
  background-color: #637799;
}

/*Box #7 (Design with Type Book) Styling*/
#seven_about{
  height: 25%;
  background-color: #566884;
}

#seven_about:hover{
  background-color: #637799;
}

/*Box #8 (Accordion) Styling*/
#eight{
  height: 15%;
  background-color: #324563;
}

#eight:hover{
  background-color: #3a5072;
}

/*Box #8 (Accordion) Styling*/
#eight_about{
  height: 25%;
  background-color: #324563;
}

#eight_about:hover{
  background-color: #3a5072;
}

/*Box #9 (Goelocation App) Styling*/
#nine{
  height: 15%;
  background-color: #6d84a8;
}

#nine:hover{
  background-color: #7891ba;
}

/*Box #9 (Goelocation App) Styling*/
#nine_about{
  height: 25%;
  background-color: #6d84a8;
}

#nine_about:hover{
  background-color: #7891ba;
}

/*Box #10 (Logotypes Book) Styling*/
#ten{
  height: 15%;
  background-color: #88a2cc;
}

#ten:hover{
  background-color: #92aedb;
}

/*Box #10 (Logotypes Book) Styling*/
#ten_about{
  height: 25%;
  background-color: #88a2cc;
}

#ten_about:hover{
  background-color: #92aedb;
}

/*Box #11 (2 in 1, 1 in 2 Color Study) Styling*/
#eleven{
  height: 10%;
  background-color: #6e7a8c;
}

#eleven:hover{
  background-color: #7d8ba0;
}

/*Box #11 (2 in 1, 1 in 2 Color Study) Styling*/
#eleven_about{
  height: 25%;
  background-color: #6e7a8c;
}

#eleven_about:hover{
  background-color: #7d8ba0;
}

/*Box #12 (Rows & Columns Color Study) Styling*/
#twelve{
  height: 10%;
  background-color: #333e4f;
}

#twelve:hover{
  background-color: #3e4b60;
}

/*Box #12 (Rows & Columns Color Study) Styling*/
#twelve_about{
  height: 25%;
  background-color: #333e4f;
}

#twelve_about:hover{
  background-color: #3e4b60;
}

/*Box #13 (TBD) Styling*/
#thirteen{
  height:10%;
  background-color: #324563;
}

#thirteen:hover{
  background-color: #394f72;
}

/*Box #13 (TBD) Styling*/
#thirteen_about{
  height:25%;
  background-color: #324563;
}

#thirteen_about:hover{
  background-color: #394f72;
}

/*Box #14 (TBD) Styling*/
#fourteen{
  height: 10%;
  background-color: #465a7a;
}

#fourteen:hover{
  background-color: #4f678c;
}

/*Box #14 (TBD) Styling*/
#fourteen_about{
  height: 25%;
  background-color: #465a7a;
}

#fourteen_about:hover{
  background-color: #4f678c;
}

/*Box #15 (TBD) Styling*/
#fifteen{
  height: 10%;
  background-color: #6e7a8c;
}

#fifteen:hover{
  background-color: #7b899e;
}

/*Box #15 (TBD) Styling*/
#fifteen_about{
  height: 25%;
  background-color: #6e7a8c;
}

#fifteen_about:hover{
  background-color: #7b899e;
}

/* Footer */
/*.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}*/

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
}

/*Style of links in main container*/
#main.col-12 a {
  background-color: yellow;
  color: black;
  text-decoration: none;
}

/*Changes text in all boxes to white with hover*/
#main.col-12 a:hover {
  color: white;
}

/*INDIVIDUAL BOX STYLINGS*/

/*Adjusts height to 100% of box height*/
.box_pic {
/*  height: 100%;*/
  width: 100%;
}

.headshot_pic{
  width: 100%;
  margin-top: 2%;
}

.about_pics{
  height: 65%;
}

.book_covers{
  height: 120%;
}

.bottom_row_size{
  height: 110%;
  margin-left: 15%;
}

.bottom_row_column{
  height: 110%;
  margin-left: 30%;
}

/*Adds padding to can opener iterations*/
#cans {
  padding-top: 15px;
}

/*Makes box height focus of sizing (not width)*/
#height {
  height: 100%;
  padding-left: 30%;
}

#pipe{
  height: 100%;
  float: right;
}

#pipe_text{
  float: left;
}

#city{
  float: right;
  height: 80%;
}

/*Adjusts text to mimic actual poster*/
#streetcar{
  height: 18%;
  margin-top: 60%;
}

/*Added space for book icon*/
#book_space{
  margin: auto;
  height: 95%;
}

/*Added space for logotypes*/
#type_space{
  margin: auto;
}

#myBtn{
  border: none;
}

#box_model{
  height: 70%;
  margin: auto;
}

.menu{
  background-color: #333;
  color: white;
  height: 25px;
  padding-left: 3px;
  margin-top: 20px;
}

.menu:hover{
  background-color: white;
  color: #333;
}

.menu_item{
  padding-top: 4px;
  padding-left: 3px;
}

/*MODAL STYLING*/

/*Modal Background*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

/*Modal Content*/
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.in_modal{
  width: 100%;
}






