@charset "utf-8";
/* CSS Document */
body{
	width: 80%;
	height: 80%;
	background-color: pink;
	font-family: 'Quicksand', sans-serif;
}

a:link{
	text-decoration: none;
}

a:visited{
	color: black;
}

a:hover{
	color: #a8bac4;
}

.home{
	width: 80px;
	padding: 4px;
	background-color: #f7f5b4;
	border: 1px solid black;
}

.title{
	width: 800px;
	height: 150px;
	background-color: #ff9068;
	border: 1px solid black;
	margin-bottom: 2%;
	margin-top: 5%;
}

.huge{
	width: 800px;
	height: 600px;
}
.container{
	width: 600px;
	height: 600px;
	float: left;
	background: #00F;
	border: 1px solid black;
	display: inline-block;
}

.side{
	width: 180px;
	height: 600px;
	float: right;
	background-color: #6242f4;
	display: inline-block;
	border: 1px solid black;
}

#outer{
	width: 400px;
	height: 400px;
	margin-top: 100px;
	margin-right: 100px;
	margin-left: 100px;
	float: left;
	background: #42f4bf;
	border: 1px solid black;
}

#inside{
	width: 200px;
	height: 200px;
	margin-top: 100px;
	margin-right: 100px;
	margin-left: 100px;
	float: left;
	background: #ffe556;
	border: 1px solid black;
}

#inner{
	width: 50px;
	height: 50px;
	margin-top: 75px;
	margin-right: 75px;
	margin-left: 75px;
	float: left;
	background: #f9a352;
	border: 1px solid black;
}