
/*Backgroung of the Game lalalala*/
body{
	background-color: pink;
}

h2{
	text-align: center;
}

a:link{
	text-decoration: none;
}

a:visited{
	color: black;
}

a:hover{
	color:#a8bac4;
}

/*Large White Container Holding Game Content*/
.main{
	width: 800px;
	border: 4px solid black;
	margin: auto;
	margin-top: 5%;
	padding: 30px; 
	font-family: 'Gloria Hallelujah', cursive;
	background-color: white;
}

/*Title of Game - Says Lets Learn Colors*/
#header{
	font-size: 50px;
	font-family: 'Gloria Hallelujah', cursive;
	text-align: center;
}


/*Instructions - Text Formatting*/
.main_text{
	font-size: 20px;
	margin-left: 2%;
	margin-bottom: none;
}

/*Hint Text*/
.hint{
	font-size: 12px;
	text-align: right;
	margin-top: none;
}

/*Box Holding Flowers*/
.flower_container{
	width: 800px;
	height: 250px;
	border: 2px solid #d1d1d1;
	background-color: white;
}
.flower_container_large{
	width: 800px;
	height: 450px;
	border: 2px solid #d1d1d1;
	background-color: white;
}

/*Styling on Containers Holding Flower Images - Applied on All Three*/
.flowers{
	width: 200px;
	height: 200px;
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	float:left;
	/*display: inline-block;*/
/*	background-color: powderblue;*/
}

#large{
	width: 400px;
	height: 400px;
	margin-left: 200px;
}

/*Styling on Flower Images - Applied to All Three*/
.empty_flower{
	width: 190px;
	height: 180px;
	padding-top: 10px;
	padding-left: 5px;
}
.large_flower{
	width: 390px;
	height: 380px;
	padding-top: 10px;
	padding-left: 5px;
}
/*Container Holding Buckets*/
.bucket_container{
	width: 800px;
	height: 200px;
/*	border: 1px solid gray;*/
	margin-top: 3%;
}

.bucket{
	width: 180px;
	height: 180px;
	display: inline-block;
	margin: 35px;
}

/*Container Holding Home Button*/
.home_container{
	width: 100%;
	height: 35px;
	margin-bottom: 10px;
	margin-top: 20px;
}

/*Home Button*/
.home{
	width: 60px;
	height: 100%;
	text-align: center;
	background-color: #d1d1d1;
	border: 1px solid black;
	box-shadow: 1px 1px #d1d1d1;
	float:left;
}

.home_img{
	width:40px;
	padding-top: 7px;
}

.play_container{
	width: 100%;
}

.play{
	text-align: center;
	background-color: pink;
	width: 200px;
	margin-left: 320px;
	margin-top: 40px;
	border: 2px solid black;
}
