@charset "utf-8";
/* CSS Document */
/*body{
	width: 80%;
	height: 80%;
	background-color: pink;
	font-family: 'Quicksand', sans-serif;
}*/

a:link{
	text-decoration: none;
}

a:visited{
	color: black;
}

a:hover{
	color: #a8bac4;
}

.home{
	width: 40px;
	padding: 5px;
	padding-bottom: 4px;
	background-color: #d8d8d8;
	border: 1px solid black;
	margin-bottom: 20px;
}

.home_img{
	width:40px;
}